<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Danh sách sản phẩm</h1>
<a href="/products/add">Thêm mới</a>
<table border="10" cellpadding="10" cellspacing="10">
    <thead>
    <tr>
        <th>STT</th>
        <th>Name</th>
        <th>Price</th>
        <th>Stock</th>
        <th>Type</th>
        <th colspan="2">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pro,loop :${products}">
        <td th:text="${loop.count}"></td>
        <td th:text="${pro.name}"> </td>
        <td th:text="${#numbers.formatDecimal(pro.price, 0, 'COMMA', 2, 'POINT')}"></td>
        <td th:text="${pro.stock}"></td>
        <td th:text="${pro.productType.getName()}"></td>
        <td><a href="">Edit</a></td>
        <td><a th:href="|/products/delete?id=${pro.id}|" onclick="return confirm('Bạn có cắc chắn muốn xóa ko')">Delete</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>