<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Danh sách nhân viên</h1>
<a href="/employees/add">Thêm mới</a>
<table border="10" cellpadding="10" cellspacing="10">
    <thead>
    <tr>
        <th>STT</th>
        <th>Name</th>
        <th>Dob</th>
        <th>Sex</th>
        <th>IsDelete</th>
        <th colspan="2">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="em,loop :${employees}">
        <td th:text="${loop.count}"></td>
        <td th:text="${em.name}"> </td>
        <td th:text="${#calendars.format(em.dob,'dd-MM-yyyy')}"></td>
        <td th:text="${em.sex}?'Nam':'Nữ'"></td>
        <td th:text="${em.isDelete}?'Đã xóa':'Hoạt động'"></td>
        <td><a href="">Edit</a></td>
        <td><a href="">Delete</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>